.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background: lightblue;
    width: 200px;

    &-header {
        display: flex;
        justify-content: center;
        text-decoration: underline;
    };
}

.sidebar-button-li {
    list-style-type: none;
    text-align: center;
    margin: auto;
    font-size: 30px;
    line-height: 40px;
}

.sidebar-button-li:hover,
.sidebar-button-li:active {
    width: 150px;
    border-radius: 4px;
    background-color: wheat;
}

.sidebar-button-active-link {
    color: darkblue;
    text-decoration: none;
    
}
